@use 'sass:color';
@use 'sass:list';
@use '../variables' as var;


@if list.index(var.$btn-types, info) {
  /* == Info == */
  .btn--info {
    background-color: #4e75ff;

    &:active {
      background-color: color.adjust(#4e75ff, $lightness: -10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: color.adjust(#4e75ff, $lightness: 10%);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
}
