@use 'sass:color';
@use 'sass:list';
@use '../variables' as var;


@if list.index(var.$btn-types, warning) {
  /* == Warning == */
  .btn--warning {
    background-color: #a461d8;

    &:active {
      background-color: color.adjust(#a461d8, $lightness: -10%);
    }

    @media (hover: hover) {
      &:hover,
      &:focus {
        background-color: color.adjust(#a461d8, $lightness: 10%);
      }
    }

    &[disabled] {
      background-color: #b5b5be;
    }
  }
}
