/* Common styles */
/* ========== DEBUG ========== */
:root {
  --debug: 1px dashed red;
  /* --debug: none; */
}
.hidden {
  display: none;
}
/* * {
  outline: var(--debug);
} */
body.debug-mode * {
  outline: 1px dashed red;
}
/* Підсвітити картинки без alt */
body.debug-mode img:not([alt]) {
  outline: 5px solid fuchsia !important;
  filter: blur(2px);
}
/* Порожні посилання або кнопки */
body.debug-mode a:empty,
body.debug-mode button:empty {
  outline: 5px solid orange !important;
}
/* Посилання, які ведуть в нікуди */
body.debug-mode a[href='#'],
body.debug-mode a[href=''] {
  background: yellow !important;
  border: 2px dashed black !important;
}
/* ========== /DEBUG ========== */
/*! modern-normalize v3.0.1 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
::before,
::after {
	box-sizing: border-box;
}
html {
	/* Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3) */
	font-family:
		system-ui,
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
	line-height: 1.15; /* 1. Correct the line height in all browsers. */
	-webkit-text-size-adjust: 100%; /* 2. Prevent adjustments of font size after orientation changes in iOS. */
	tab-size: 4; /* 3. Use a more readable tab size (opinionated). */
}
/*
Sections
========
*/
body {
	margin: 0; /* Remove the margin in all browsers. */
}
/*
Text-level semantics
====================
*/
/**
Add the correct font weight in Chrome and Safari.
*/
b,
strong {
	font-weight: bolder;
}
/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}
/**
Add the correct font size in all browsers.
*/
small {
	font-size: 80%;
}
/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}
sub {
	bottom: -0.25em;
}
sup {
	top: -0.5em;
}
/*
Tabular data
============
*/
/**
Correct table border color inheritance in Chrome and Safari. (https://issues.chromium.org/issues/40615503, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
	border-color: currentcolor;
}
/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}
/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}
/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
	padding: 0;
}
/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
	vertical-align: baseline;
}
/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}
/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}
/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
	-webkit-appearance: none;
}
/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}
/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
	display: list-item;
}
/* ========== RESET ========== */
*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
p:last-child {
  margin-bottom: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  display: block;
  color: currentColor;
  text-decoration: none;
}
address {
  font-style: normal;
}
button {
  cursor: pointer;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
/* ========== /RESET ========== */
/* ========== COMMON ========== */
html {
  scroll-behavior: smooth;
}
body {
  font-family: var(--font-primary);
  color: rgb(var(--text-color-primary) / 0.5);
  background-color: rgb(var(--bg-color-primary));
  font-size: 14px;
  line-height: 1.71;
}
body.is-menu-open {
  overflow: hidden;
  touch-action: none;
  height: 100vh;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
section[id] {
  scroll-margin-top: 50px;
}
.section {
  padding-top: 40px;
  padding-bottom: 40px;
}
.container {
  width: 100%;
  max-width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}
/* ========== /COMMON ========== */
.page-title {
  text-align: center;
}
.project-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  list-style: none;
  padding: 0;
}
.project-card {
  max-width: 300px;
  border: 1px solid rgb(221 221 221);
  border-radius: 8px;
  background: rgb(255 255 255);

  transition:
    transform 0.2s,
    box-shadow 0.2s;
}
.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 15px rgb(0 0 0 / 0.2);
}
.card-link {
  display: block;
  padding: 20px;
}
.card-image {
  border-radius: 8px;
  overflow: hidden;
}
.project-title {
  text-align: center;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
    line-height: 1.5;
  }

  section[id] {
    scroll-margin-top: 50px;
  }

  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    max-width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1280px) {
  .section {
    padding-top: 75px;
    padding-bottom: 75px;
  }

  .container {
    max-width: 1280px;
    padding-left: 128px;
    padding-right: 128px;
  }
}
