<section class="co-workers">
  <div class="co-workers-wrapper">
    <h2 class="co-workers-title">
      <span>Co-workers</span>
      | Marketing department
    </h2>

    <div class="co-workers-container">
      <details class="co-workers-details">
        <summary class="co-workers-data">
          <svg class="co-workers-icon" width="16" height="16">
            <use class="plus" href="./img/icons.svg#icon-plus"></use>
            <use class="minus" href="./img/icons.svg#icon-minus"></use>
          </svg>
          <div class="co-workers-bio">
            <div class="thumb">
              <img
                src="./img/avatars/avatar-1.jpg"
                alt=""
                width="42"
                height="63"
              />
            </div>
            <p class="co-workers-caption">Andrew Mike</p>
          </div>
          <div class="co-workers-controls">
            <button class="controls-btn" type="button" aria-label="Reload">
              <svg class="controls-btn-icon success" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-clockwise"></use>
              </svg>
            </button>
            <button class="controls-btn" type="button" aria-label="Close">
              <svg class="controls-btn-icon error" width="20" height="20">
                <use href="./img/icons.svg#icon-x-close"></use>
              </svg>
            </button>
          </div>
        </summary>
        <div class="co-workers-info">
          <h3 class="co-workers-position">Job position</h3>
          <p>Develop</p>
          <h3 class="co-workers-accept">Since</h3>
          <p>2013</p>
        </div>
      </details>
      <details class="co-workers-details">
        <summary class="co-workers-data">
          <svg class="co-workers-icon" width="16" height="16">
            <use class="plus" href="./img/icons.svg#icon-plus"></use>
            <use class="minus" href="./img/icons.svg#icon-minus"></use>
          </svg>
          <div class="co-workers-bio">
            <div class="thumb">
              <img
                src="./img/avatars/avatar-1.jpg"
                alt=""
                width="42"
                height="63"
              />
            </div>
            <p class="co-workers-caption">Andrew Mike</p>
          </div>
          <div class="co-workers-controls">
            <button class="controls-btn" type="button" aria-label="Reload">
              <svg class="controls-btn-icon success" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-clockwise"></use>
              </svg>
            </button>
            <button class="controls-btn" type="button" aria-label="Close">
              <svg class="controls-btn-icon error" width="20" height="20">
                <use href="./img/icons.svg#icon-x-close"></use>
              </svg>
            </button>
          </div>
        </summary>
        <div class="co-workers-info">
          <h3 class="co-workers-position">Job position</h3>
          <p>Develop</p>
          <h3 class="co-workers-accept">Since</h3>
          <p>2013</p>
        </div>
      </details>
      <details class="co-workers-details">
        <summary class="co-workers-data">
          <svg class="co-workers-icon" width="16" height="16">
            <use class="plus" href="./img/icons.svg#icon-plus"></use>
            <use class="minus" href="./img/icons.svg#icon-minus"></use>
          </svg>
          <div class="co-workers-bio">
            <div class="thumb">
              <img
                src="./img/avatars/avatar-1.jpg"
                alt=""
                width="42"
                height="63"
              />
            </div>
            <p class="co-workers-caption">Andrew Mike</p>
          </div>
          <div class="co-workers-controls">
            <button class="controls-btn" type="button" aria-label="Reload">
              <svg class="controls-btn-icon success" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-clockwise"></use>
              </svg>
            </button>
            <button class="controls-btn" type="button" aria-label="Close">
              <svg class="controls-btn-icon error" width="20" height="20">
                <use href="./img/icons.svg#icon-x-close"></use>
              </svg>
            </button>
          </div>
        </summary>
        <div class="co-workers-info">
          <h3 class="co-workers-position">Job position</h3>
          <p>Develop</p>
          <h3 class="co-workers-accept">Since</h3>
          <p>2013</p>
        </div>
      </details>
      <details class="co-workers-details">
        <summary class="co-workers-data">
          <svg class="co-workers-icon" width="16" height="16">
            <use class="plus" href="./img/icons.svg#icon-plus"></use>
            <use class="minus" href="./img/icons.svg#icon-minus"></use>
          </svg>
          <div class="co-workers-bio">
            <div class="thumb">
              <img
                src="./img/avatars/avatar-1.jpg"
                alt=""
                width="42"
                height="63"
              />
            </div>
            <p class="co-workers-caption">Andrew Mike</p>
          </div>
          <div class="co-workers-controls">
            <button class="controls-btn" type="button" aria-label="Reload">
              <svg class="controls-btn-icon success" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-clockwise"></use>
              </svg>
            </button>
            <button class="controls-btn" type="button" aria-label="Close">
              <svg class="controls-btn-icon error" width="20" height="20">
                <use href="./img/icons.svg#icon-x-close"></use>
              </svg>
            </button>
          </div>
        </summary>
        <div class="co-workers-info">
          <h3 class="co-workers-position">Job position</h3>
          <p>Develop</p>
          <h3 class="co-workers-accept">Since</h3>
          <p>2013</p>
        </div>
      </details>
      <details class="co-workers-details">
        <summary class="co-workers-data">
          <svg class="co-workers-icon" width="16" height="16">
            <use class="plus" href="./img/icons.svg#icon-plus"></use>
            <use class="minus" href="./img/icons.svg#icon-minus"></use>
          </svg>
          <div class="co-workers-bio">
            <div class="thumb">
              <img
                src="./img/avatars/avatar-1.jpg"
                alt=""
                width="42"
                height="63"
              />
            </div>
            <p class="co-workers-caption">Andrew Mike</p>
          </div>
          <div class="co-workers-controls">
            <button class="controls-btn" type="button" aria-label="Reload">
              <svg class="controls-btn-icon success" width="20" height="20">
                <use href="./img/icons.svg#icon-arrow-clockwise"></use>
              </svg>
            </button>
            <button class="controls-btn" type="button" aria-label="Close">
              <svg class="controls-btn-icon error" width="20" height="20">
                <use href="./img/icons.svg#icon-x-close"></use>
              </svg>
            </button>
          </div>
        </summary>
        <div class="co-workers-info">
          <h3 class="co-workers-position">Job position</h3>
          <p>Develop</p>
          <h3 class="co-workers-accept">Since</h3>
          <p>2013</p>
        </div>
      </details>

      <table class="co-workers-table">
        <caption class="visually-hidden">
          Co-workers info
        </caption>
        <thead>
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Job position</th>
            <th>Since</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <div class="thumb">
                <img
                  src="./img/avatars/avatar-1.jpg"
                  alt=""
                  width="42"
                  height="63"
                />
              </div>
            </td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
            <td>
              <div class="co-workers-controls">
                <button class="controls-btn" type="button" aria-label="Reload">
                  <svg class="controls-btn-icon success" width="20" height="20">
                    <use href="./img/icons.svg#icon-arrow-clockwise"></use>
                  </svg>
                </button>
                <button class="controls-btn" type="button" aria-label="Close">
                  <svg class="controls-btn-icon error" width="20" height="20">
                    <use href="./img/icons.svg#icon-x-close"></use>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumb">
                <img
                  src="./img/avatars/avatar-1.jpg"
                  alt=""
                  width="42"
                  height="63"
                />
              </div>
            </td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
            <td>
              <div class="co-workers-controls">
                <button class="controls-btn" type="button" aria-label="Reload">
                  <svg class="controls-btn-icon success" width="20" height="20">
                    <use href="./img/icons.svg#icon-arrow-clockwise"></use>
                  </svg>
                </button>
                <button class="controls-btn" type="button" aria-label="Close">
                  <svg class="controls-btn-icon error" width="20" height="20">
                    <use href="./img/icons.svg#icon-x-close"></use>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumb">
                <img
                  src="./img/avatars/avatar-1.jpg"
                  alt=""
                  width="42"
                  height="63"
                />
              </div>
            </td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
            <td>
              <div class="co-workers-controls">
                <button class="controls-btn" type="button" aria-label="Reload">
                  <svg class="controls-btn-icon success" width="20" height="20">
                    <use href="./img/icons.svg#icon-arrow-clockwise"></use>
                  </svg>
                </button>
                <button class="controls-btn" type="button" aria-label="Close">
                  <svg class="controls-btn-icon error" width="20" height="20">
                    <use href="./img/icons.svg#icon-x-close"></use>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumb">
                <img
                  src="./img/avatars/avatar-1.jpg"
                  alt=""
                  width="42"
                  height="63"
                />
              </div>
            </td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
            <td>
              <div class="co-workers-controls">
                <button class="controls-btn" type="button" aria-label="Reload">
                  <svg class="controls-btn-icon success" width="20" height="20">
                    <use href="./img/icons.svg#icon-arrow-clockwise"></use>
                  </svg>
                </button>
                <button class="controls-btn" type="button" aria-label="Close">
                  <svg class="controls-btn-icon error" width="20" height="20">
                    <use href="./img/icons.svg#icon-x-close"></use>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumb">
                <img
                  src="./img/avatars/avatar-1.jpg"
                  alt=""
                  width="42"
                  height="63"
                />
              </div>
            </td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
            <td>
              <div class="co-workers-controls">
                <button class="controls-btn" type="button" aria-label="Reload">
                  <svg class="controls-btn-icon success" width="20" height="20">
                    <use href="./img/icons.svg#icon-arrow-clockwise"></use>
                  </svg>
                </button>
                <button class="controls-btn" type="button" aria-label="Close">
                  <svg class="controls-btn-icon error" width="20" height="20">
                    <use href="./img/icons.svg#icon-x-close"></use>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumb">
                <img
                  src="./img/avatars/avatar-1.jpg"
                  alt=""
                  width="42"
                  height="63"
                />
              </div>
            </td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
            <td>
              <div class="co-workers-controls">
                <button class="controls-btn" type="button" aria-label="Reload">
                  <svg class="controls-btn-icon success" width="20" height="20">
                    <use href="./img/icons.svg#icon-arrow-clockwise"></use>
                  </svg>
                </button>
                <button class="controls-btn" type="button" aria-label="Close">
                  <svg class="controls-btn-icon error" width="20" height="20">
                    <use href="./img/icons.svg#icon-x-close"></use>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <div class="thumb">
                <img
                  src="./img/avatars/avatar-1.jpg"
                  alt=""
                  width="42"
                  height="63"
                />
              </div>
            </td>
            <td>Andrew Mike</td>
            <td>Develop</td>
            <td>2013</td>
            <td>
              <div class="co-workers-controls">
                <button class="controls-btn" type="button" aria-label="Reload">
                  <svg class="controls-btn-icon success" width="20" height="20">
                    <use href="./img/icons.svg#icon-arrow-clockwise"></use>
                  </svg>
                </button>
                <button class="controls-btn" type="button" aria-label="Close">
                  <svg class="controls-btn-icon error" width="20" height="20">
                    <use href="./img/icons.svg#icon-x-close"></use>
                  </svg>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <ul class="co-workers-board board">
    <li class="board-item">
      <div class="board-left">
        <h3 class="board-caption">Send benefit review by Sunday</h3>
        <p class="board-details">Due date: <time>December 23, 2023</time></p>
        <div class="board-coworker person">
          <div class="person-thumb">
            <img
              class="person-avatar"
              src="./img/avatars/avatar-1.jpg"
              alt="George Fields"
              width="42"
              height="63"
            />
          </div>
          <p class="person-caption">George Fields</p>
        </div>
      </div>
      <div class="board-right">
        <p class="board-tag">Reminder</p>
        <p class="badge-warning">Completed</p>
      </div>
    </li>
    <li class="board-item">
      <div class="board-left">
        <h3 class="board-caption">Send benefit review by Sunday</h3>
        <p class="board-details">Due date: <time>December 23, 2023</time></p>
        <div class="board-coworker person">
          <div class="person-thumb">
            <img
              class="person-avatar"
              src="./img/avatars/avatar-2.jpg"
              alt="George Fields"
              width="72"
              height="96"
            />
          </div>
          <p class="person-caption">Amanda Pitt</p>
        </div>
      </div>
      <div class="board-right">
        <p class="board-tag">Call</p>
        <p class="badge-danger">Ended</p>
      </div>
    </li>
    <li class="board-item hide">
      <div class="board-left">
        <h3 class="board-caption">Send benefit review by Sunday</h3>
        <p class="board-details">Due date: <time>December 23, 2023</time></p>
        <div class="board-coworker person">
          <div class="person-avatar">
            <img
              src="./img/avatars/avatar-1.jpg"
              alt="George Fields"
              width="42"
              height="63"
            />
          </div>
          <p class="person-caption">George Fields</p>
        </div>
      </div>
      <div class="board-right">
        <p class="board-tag">Reminder</p>
        <p class="badge-success">Completed</p>
      </div>
    </li>
  </ul>
  <button class="co-workers-more-btn btn btn--secondary" type="button">
    Show more
  </button>
</section>
