<header class="header">
  <button
    class="menu-btn js-menu-open"
    type="button"
    aria-expanded="false"
    aria-controls="sidebar-menu"
  >
    <svg class="menu-btn-icon" width="24" height="24">
      <use href="./img/icons.svg#icon-menu"></use>
    </svg>
    Overview
  </button>
  <label class="search-field">
    <svg class="search-icon" width="20" height="20">
      <use href="./img/icons.svg#icon-search"></use>
    </svg>
    <input
      class="search-input"
      type="search"
      name="user_search"
      placeholder="Search Something..."
      aria-label="Search for any term"
    />
  </label>
  <button
    class="notification-btn"
    type="button"
    data-notify="true"
    aria-label="Bell button"
  >
    <svg class="notification-btn-icon" width="20" height="20">
      <use href="./img/icons.svg#icon-bell"></use>
    </svg>
  </button>
</header>
