<section class="reports">
  <h2 class="reports-title"><span>Task Report</span> | Last 2 Weeks</h2>
  <ul class="reports-list">
    <li class="reports-item" data-status="up">
      <div class="reports-staff staff">
        <div class="staff-thumb">
          <img
            class="staff-avatar"
            src="./img/avatars/thumb.svg"
            alt="Ibnu Mas’ud"
            width="32"
            height="32"
          />
        </div>
        <h3 class="staff-caption">Ibnu Mas’ud</h3>
      </div>
      <progress class="reports-bar" id="report_ibnu" max="100" value="89">
        <!-- For older browser, which doesn't support <progress> styles -->
        <div class="progress-bar">
          <span style="width: 89%">Progress: 89%</span>
        </div>
      </progress>
      <svg class="reports-icon" width="20" height="20">
        <use class="up" href="./img/icons.svg#icon-up"></use>
        <use class="dash" href="./img/icons.svg#icon-dash"></use>
        <use class="down" href="./img/icons.svg#icon-down"></use>
      </svg>
    </li>
    <li class="reports-item" data-status="dash">
      <div class="reports-staff staff">
        <div class="staff-thumb">
          <img
            class="staff-avatar"
            src="./img/avatars/thumb.svg"
            alt="Kelen Indah"
            width="32"
            height="32"
          />
        </div>
        <h3 class="staff-caption">Kelen Indah</h3>
      </div>
      <progress class="reports-bar" id="report_indash" max="100" value="43">
        <!-- For older browser, which doesn't support <progress> styles -->
        <div class="progress-bar">
          <span style="width: 43%">Progress: 43%</span>
        </div>
      </progress>
      <svg class="reports-icon" width="20" height="20">
        <use class="up" href="./img/icons.svg#icon-up"></use>
        <use class="dash" href="./img/icons.svg#icon-dash"></use>
        <use class="down" href="./img/icons.svg#icon-down"></use>
      </svg>
    </li>
    <li class="reports-item" data-status="up">
      <div class="reports-staff staff">
        <div class="staff-thumb">
          <img
            class="staff-avatar"
            src="./img/avatars/thumb.svg"
            alt="Mas Indro"
            width="32"
            height="32"
          />
        </div>
        <h3 class="staff-caption">Mas Indro</h3>
      </div>
      <progress class="reports-bar" id="report_indro" max="100" value="56">
        <!-- For older browser, which doesn't support <progress> styles -->
        <div class="progress-bar">
          <span style="width: 56%">Progress: 56%</span>
        </div>
      </progress>
      <svg class="reports-icon" width="20" height="20">
        <use class="up" href="./img/icons.svg#icon-up"></use>
        <use class="dash" href="./img/icons.svg#icon-dash"></use>
        <use class="down" href="./img/icons.svg#icon-down"></use>
      </svg>
    </li>
    <li class="reports-item" data-status="dash">
      <div class="reports-staff staff">
        <div class="staff-thumb">
          <img
            class="staff-avatar"
            src="./img/avatars/thumb.svg"
            alt="Geo Vanni"
            width="32"
            height="32"
          />
        </div>
        <h3 class="staff-caption">Geo Vanni</h3>
      </div>
      <progress class="reports-bar" id="report_vanni" max="100" value="63">
        <!-- For older browser, which doesn't support <progress> styles -->
        <div class="progress-bar">
          <span style="width: 63%">Progress: 63%</span>
        </div>
      </progress>
      <svg class="reports-icon" width="20" height="20">
        <use class="up" href="./img/icons.svg#icon-up"></use>
        <use class="dash" href="./img/icons.svg#icon-dash"></use>
        <use class="down" href="./img/icons.svg#icon-down"></use>
      </svg>
    </li>
    <li class="reports-item" data-status="down">
      <div class="reports-staff staff">
        <div class="staff-thumb">
          <img
            class="staff-avatar"
            src="./img/avatars/thumb.svg"
            alt="Avian Rizk"
            width="32"
            height="32"
          />
        </div>
        <h3 class="staff-caption">Avian Rizk</h3>
      </div>
      <progress class="reports-bar" id="report_rizk" max="100" value="63">
        <!-- For older browser, which doesn't support <progress> styles -->
        <div class="progress-bar">
          <span style="width: 63%">Progress: 63%</span>
        </div>
      </progress>
      <svg class="reports-icon" width="20" height="20">
        <use class="up" href="./img/icons.svg#icon-up"></use>
        <use class="dash" href="./img/icons.svg#icon-dash"></use>
        <use class="down" href="./img/icons.svg#icon-down"></use>
      </svg>
    </li>
  </ul>
</section>
