<section class="tasks">
  <h2 class="tasks-title"><span>Tasks (5) </span>| Today</h2>
  <ul class="tasks-list">
    <li class="tasks-item">
      <label class="tasks-checkbox">
        <input
          class="tasks-input visually-hidden"
          type="checkbox"
          name="task_status"
          value="unfinished"
          aria-label="Task status"
        />
        <svg class="tasks-checkbox-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-done"></use>
        </svg>
      </label>
      <div class="tasks-info">
        <h3 class="tasks-heading">Update the documentation</h3>
        <p class="tasks-desc">
          Dwuamish Head, Seattle, WA <time>8:47 AM</time>
        </p>
      </div>
      <button class="tasks-btn" type="button" aria-label="Task settings">
        <svg class="tasks-btn-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-gear"></use>
        </svg>
      </button>
    </li>
    <li class="tasks-item">
      <label class="tasks-checkbox">
        <input
          class="tasks-input visually-hidden"
          type="checkbox"
          name="task_status"
          value="unfinished"
          aria-label="Task status"
          checked
        />
        <svg class="tasks-checkbox-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-done"></use>
        </svg>
      </label>
      <div class="tasks-info">
        <h3 class="tasks-heading">GDPR Compliance</h3>
        <p class="tasks-desc">Alki Ave SW, Seattle, WA <time>12:29 PM</time></p>
      </div>
      <button class="tasks-btn" type="button" aria-label="Task settings">
        <svg class="tasks-btn-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-gear"></use>
        </svg>
      </button>
    </li>
    <li class="tasks-item">
      <label class="tasks-checkbox">
        <input
          class="tasks-input visually-hidden"
          type="checkbox"
          name="task_status"
          value="unfinished"
          aria-label="Task status"
        />
        <svg class="tasks-checkbox-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-done"></use>
        </svg>
      </label>
      <div class="tasks-info">
        <h3 class="tasks-heading">Export the processed files</h3>
        <p class="tasks-desc">
          Capitol Hill, Seattle, WA <time>12:34 AM</time>
        </p>
      </div>
      <button class="tasks-btn" type="button" aria-label="Task settings">
        <svg class="tasks-btn-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-gear"></use>
        </svg>
      </button>
    </li>
    <li class="tasks-item">
      <label class="tasks-checkbox">
        <input
          class="tasks-input visually-hidden"
          type="checkbox"
          name="task_status"
          value="unfinished"
          aria-label="Task status"
        />
        <svg class="tasks-checkbox-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-done"></use>
        </svg>
      </label>
      <div class="tasks-info">
        <h3 class="tasks-heading">Release v2.0.0</h3>
        <p class="tasks-desc">Ra Ave SW, WA <time>11:19 AM</time></p>
      </div>
      <button class="tasks-btn" type="button" aria-label="Task settings">
        <svg class="tasks-btn-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-gear"></use>
        </svg>
      </button>
    </li>
    <li class="tasks-item">
      <label class="tasks-checkbox">
        <input
          class="tasks-input visually-hidden"
          type="checkbox"
          name="task_status"
          value="unfinished"
          aria-label="Task status"
        />
        <svg class="tasks-checkbox-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-done"></use>
        </svg>
      </label>
      <div class="tasks-info">
        <h3 class="tasks-heading">Solve the issues</h3>
        <p class="tasks-desc">Capitol Hill, LA <time>12:34 AM</time></p>
      </div>
      <button class="tasks-btn" type="button" aria-label="Task settings">
        <svg class="tasks-btn-icon" width="20" height="20">
          <use href="./img/icons.svg#icon-gear"></use>
        </svg>
      </button>
    </li>
  </ul>
</section>
